<ul>
	{% for music in musics %}
	<li>
		<a href="{% url 'music.views.music_detail' music.id %}">
            {% with obj=music.main_name %}
            {% include "name/display_name.html" %}
            {% endwith %}
			{% if music.version %}
			-
			{{ music.version }}
			{% endif %}
		</a>
		{% if not hide.artist %}
		<br />
		{% if music.artist %}
		{{ music.artist }}
		{% else %}
		No artist
		{% endif %}
		{% endif %}
		<br />
		{% if music.use %}
		Used in: 
		{% with main_name=music.use.opus.item.main_name use=music.use %}
		{% if music.use.opus != opus %}
		{{ main_name.name }}
		{% if main_name.name_origin %}({% endif %}
		{{ main_name.name_origin }}
		{% if main_name.name_origin %}){% endif %}
		-
		{% endif %}
		{{ use.use_type.name_short }}{% if use.version %}{{ use.version }}{% endif %}
		{% endwith %}
		<br />
		{% endif %}
		{{ music.duration }}
		{% if music.has_instrumental or music.is_short or music.is_remix or music.is_cover %}
		<br />
		{% if music.has_instrumental %}
		Instrumental,
		{% endif %}
		{% if music.is_short %}
		Short,
		{% endif %}
		{% if music.is_remix %}
		Remix,
		{% endif %}
		{% if music.is_cover %}
		Cover
		{% endif %}
		{% endif %}
	</li>
	{% endfor %}
</ul>
