{% extends "base.html" %}

{% block content %}

<h1>
	{{ main_name.name }}
	{{ main_name.surname }}
	{% if main_name.name_origin or main_name.surname_origin %}({% endif %}
	{{ main_name.name_origin }}
	{{ main_name.surname_origin }}
	{% if main_name.name_origin or main_name.surname_origin %}){% endif %}
</h1>
{% if other_names %}
<ul>
	{% for name in other_names %}
	<li>
	{{ name.name }}
	{{ name.surname }}
	{% if name.name_origin or name.surname_origin %}({% endif %}
	{{ name.name_origin }}
	{{ name.surname_origin }}
	{% if name.name_origin or name.surname_origin %}){% endif %}
	</li>
	{% endfor %}
</ul>
{% endif %}

Musics:
<ul>
	{% for music in musics %}
	<li>{{ music }}</li>
	{% empty %}
	<li>No music</li>
	{% endfor %}
</ul>

Actions:
<form action="edit" method="get">
	<input type="submit" value="Edit" />
</form>
{% if delete.enabled %}
<form action="" method="post">
	{% csrf_token %}
	{{ delete.form }}
	<input type="submit" value="Delete" />
</form>
{% endif %}
	
{% endblock %}
