
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
	{% csrf_token %}
	{{ name_form_set.management_form }}
	{{ name_form_set.non_form_errors }}
	<table>
		{% for name_form in name_form_set %}
		{% if forloop.counter == 1 %}
		<tr>
			{% for field in name_form.visible_fields %}
			<th>{{ field.label }}</th>
			{% endfor %}
		</tr>
		{% endif %}
		{{ name_form.non_field_errors }}
		<tr>
			{% for field in name_form.visible_fields %}
			<td>{{ field.errors }}{{ field }}</td>
			{% endfor %}
			{% for main_choice in main_form.main %}
			{% if forloop.counter0 == forloop.parentloop.counter0 %}
			<td>{{ main_choice }}</td>
			{% endif %}
			{% endfor %}
		</tr>
		{% for field in name_form.hidden_fields %}
		{{ field }}
		{% endfor %}
		{% endfor %}
	</table>

	<input type="submit" value="Submit" />
</form>

