{% extends "common/single/detail.html" %}

{% block single_details %}
{% with opus=single %}
<div>
	<h2>Details:</h2>
	<ul>
		{% if opus.opus_type %}<li>Opus type: {{ opus.opus_type }}</li>{% endif %}
		{% if opus.language %}<li>Language: {{ opus.language }}</li>{% endif %}
		{% if opus.date %}<li>Date: {{ opus.date }}</li>{% endif %}
        {% if opus.description %}<li>Description: {{ opus.description }}</li>{% endif %}
	</ul>
</div>
{% endwith %}
{% endblock %}

{% block single_extras %}
{% include "music/music/small_list.html" %}
{% endblock %}

{% block single_actions_edit_url %}
{% url "opus_edit" single.id %}
{% endblock %}

{% block single_actions_delete_url %}
{% url "opus_delete" %}
{% endblock %}
