{% extends "base.html" %}

{% block content %}

<form action="" method="post">{% csrf_token %}
{{formSet.management_form}}
<table>
{% for form in formSet %}
{% if forloop.counter = 1 %}
    <tr>
        <th> </th><th></th>
    {% for field in form.visible_fields %}
        <th>{{ field.label }}</th> 
    {% endfor %}
    </tr>
{% endif %}
{{ form.non_field_errors }}
{% if form.id.value %}
    {% if not form.errors %}
        <tr class="display_row" >
        <td><a href="{{form.id.value}}" >del</a></td>
        <td><input type="button" value="edit" class = "edit_button" /></td>
        {% for field in form.visible_fields %}
            <td>{{ field.value }}</td> 
        {% endfor %}
        </tr>
        <tr class="edit_row" >
    {% else %}
        <tr class="edit_row_error" >
    {% endif %}

    <td><a href="{{form.id.value}}" >del</a></td><td></td>
{% else %}
    <tr class="add_row" >
    <td></td>
    <td></td>
{% endif %}
    {% for field in form.visible_fields %}
        <td>{{ field.errors }} {{ field }}</td> 
    {% endfor %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    </tr>
{% endfor %}
</table>
<input type="submit" value="Submit" />
</form>
<script>
$(document).ready(function() {
    $('.edit_button').click(function(e) {
        disp_row = $(this).closest(".display_row");
        disp_row.hide();
        disp_row.next(".edit_row").show();
    });
    $('tr:last input').on("change paste input",function() {
        if($(this).closest('tr').is(':last-child'))
        {
        cloneMore($(this).closest(".add_row"), 'form');
        }
    });
});
</script>
{% endblock %}
