<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
function cloneMore(element, type) {
    var newElement = element.clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button])').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    element.after(newElement);
}
</script>
<style>
.edit_row
{
    display:none;
}
</style>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<form action="" method="post">{% csrf_token %}
{{formSet.management_form}}
<table>
{% for form in formSet %}
{% if forloop.counter = 1 %}
    <tr>
        <th> </th><th></th>
    {% for field in form.visible_fields %}
        <th>{{ field.label }}</th> 
    {% endfor %}
    </tr>
{% endif %}
{% if form.id.value %}
    {% if not form.errors %}
        <tr class="display_row" >
        <td><a href="{{form.id.value}}" >del</a></td>
        <td><input type="button" value="edit" class = "edit_button" /></td>
        {% for field in form.visible_fields %}
            <td>{{ field.value }}</td> 
        {% endfor %}
        </tr>
        <tr class="edit_row" >
    {% else %}
        <tr class="edit_row_error" >
    {% endif %}

    <td><a href="{{form.id.value}}" >del</a></td><td></td>
{% else %}
    <tr class="add_row" >
    <td></td>
    <td><input type="button" value="+" class="add_more" /></td>
{% endif %}
    {% for field in form.visible_fields %}
        <td>{{ field.errors }} {{ field }}</td> 
    {% endfor %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    </tr>
{% endfor %}
</table>
<input type="submit" value="Submit" />
</form>
<script>
$(document).ready(function() {
    $('.edit_button').click(function(e) {
        disp_row = $(this).closest(".display_row");
        disp_row.hide();
        disp_row.next(".edit_row").show();
    });
    $('.add_more').click(function() {
        cloneMore($(this).closest(".add_row", 'form'));
    });
});
</script>
