{% extends "base.html" %}

{% block content %}

<p>The object : "{{ obj }}" cannot be deleted because the following bjects are using it :</p>
<ul>
{% for class, objs in related.items %}
<li>{{ class }} :</li>
    <ul>   
    {% for obj in objs %}
       <li>{% if obj.sec %}Between  {{ obj.main }} and  {{ obj.sec }} {% else %}{{ obj.main }}{% endif %}</li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
<p>you can however merge it using the form below :</p>

<form action="" method="post">{% csrf_token %}
{{ form }}
<input type="submit" value="Merge" />
</form>
{% endblock %}
