{% extends "base.html" %}

{% block content %}

<form action="" method="post">
	{% csrf_token %}
	{{ name_form_set.management_form }}
	{{ name_form_set.non_form_errors }}
	<table>
		{% for name_form in name_form_set %}
		{% if forloop.counter == 1 %}
		<tr>
			{% for field in name_form.visible_fields %}
			<th>{{ field.label }}</th>
			{% endfor %}
		</tr>
		{% endif %}
		{{ name_form.non_field_errors }}
		<tr>
			{% for field in name_form.visible_fields %}
			<td>{{ field.errors }}{{ field }}</td>
			{% endfor %}
			{% for field in name_form.hidden_fields %}
			{{ field }}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

	{% if form %}
	{{ form.as_p }}
	{% endif %}

	<input type="submit" value="Submit" />
</form>
<script>
$(document).ready(function() {
    $('tr:last input').on("change paste input",function() {
        if($(this).closest('tr').is(':last-child'))
	{
        cloneMore($(this).closest("tr"), 'personname_set');
        }
    });
});
</script>
{% endblock %}
