{% extends "base.html" %}

{% block content %}

<form action="" method="post">
	{% csrf_token %}

	{% block name_form %}
	{% with form_set=name_form_set %}
	{% include "music/utils/form_set.html" %}
	{% endwith %}
	{% endblock %}

	{% block main_form %}
	{% if form %}
	{{ form.as_p }}
	{% endif %}
	{% endblock %}

	{% block extra_forms %}
	{% endblock %}

	<input type="submit" value="Submit" />
</form>

{% block form_scripts %}
<script>
$(document).ready(function() {
    $('.extra tr:last-child input').on("change paste input select", function() {
        if($(this).closest('tr').is(':last-child'))
	{
        cloneMore($(this).closest("tr"), 'personname_set');
        }
    });
});
</script>
{% endblock %}
{% endblock %}
