<ul>
	{% for artist in artists %}
	<li>
		<a href="{% url 'music.views.artist_detail_delete' artist.id %}">
            {% with obj=artist.main_name %}
            {% include "name/display_name.html" %}
            {% endwith %}
		</a>
		<br />
		{% if artist.music_amount %}
		{{ artist.music_amount }} music{{ artist.music_amount|pluralize }}
		{% else %}
		No music
		{% endif %}
		<br />
		{% if artist.roles %}
		Has worked as:
		{% for role in artist.roles %}
		{{ role }},
		{% endfor %}
		{% else %}
		Has no role yet
		{% endif %}
	</li>
	{% endfor %}
</ul>
