{% extends "music/single/detail.html" %}

{% block single_main_name %}
{% if main_name %}
{% with obj=main_name %}
{% include "name/display_name.html" %}
{% endwith %}
<span class="username">({{ username }})</span>
{% else %}
<span class="username">{{ username }}</span>
{% endif %}
{% endblock %}

{% block single_details %}
<div>
    <h2>Details:</h2>
    Unimplemented
</div>
{% endblock %}

{% block single_musics %}
{% endblock %}

{% block single_extra %}
<div>
    <h2>Favourites:</h2>
    {% if favourites %}
    <ul>
        {% for favourite in favourites %}
        <li>
        ID: {{ favourite.id }} - Grade: {{ favourite.grade }}
        <br />
        {{ favourite.music.main_name }} 
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Currently no favourite</p>
    {% endif %}
</div>
{% endblock %}
