{% extends "base.html" %}

{% block content %}

{% block single_title %}
<header>
    <h1>
        {% block single_main_name %}
        {% with obj=main_name %}
        {% include "name/display_name.html" %}
        {% endwith %}
        {% endblock %}
		{% block single_title_version %}
		{% endblock %}
	</h1>
	{% if other_names %}
	<ul>
		{% for name in other_names %}
		<li>
        {% with obj=name %}
        {% include "name/display_name.html" %}
        {% endwith %}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</header>
{% endblock %}

{% block single_details %}
{% endblock %}

{% block single_extras %}
{% endblock %}

{% block single_actions %}
<div>
	<h2>Actions:</h2>
    <form action="{% block single_actions_edit_url %}{% endblock %}" method="get">
		<input type="submit" value="Edit" />
	</form>
	{% if delete_form %}
    <form action="{% block single_actions_delete_url %}{% endblock %}" method="post" onsubmit="return confirm('Are you sure?')">
		{% csrf_token %}
		{{ delete_form }}
		<input type="submit" value="Delete" />
	</form>
	{% endif %}
</div>
{% endblock %}

{% endblock %}
